<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

    <!-- 自动扫描包，实现支持注解的IOC -->
    <context:component-scan base-package="anlzou.com"/>

    <!--  要放在  <mvc:annotation-driven />前面，不然使用这个会拦截所有css、js -->
    <!--        <mvc:interceptors>-->
    <!--            <mvc:interceptor>-->
    <!--                &lt;!&ndash;/**表示所有url包括子url路径都进行拦截&ndash;&gt;-->
    <!--                <mvc:mapping path="/**"/>-->
    <!--                <bean class="anlzou.com.inteceptor.LoginInteceptor"></bean>-->
    <!--            </mvc:interceptor>-->

    <!--            <mvc:interceptor>-->
    <!--                &lt;!&ndash;/**表示所有url包括子url路径都进行拦截&ndash;&gt;-->
    <!--                <mvc:mapping path="/**"/>-->
    <!--                <bean class="anlzou.com.inteceptor.Inteceptor1"></bean>-->
    <!--            </mvc:interceptor>-->
    <!--            <mvc:interceptor>-->
    <!--                &lt;!&ndash;/**表示所有url包括子url路径都进行拦截&ndash;&gt;-->
    <!--                <mvc:mapping path="/**"/>-->
    <!--                <bean class="anlzou.com.inteceptor.Inteceptor2"></bean>-->
    <!--            </mvc:interceptor>-->
    <!--        </mvc:interceptors>-->

    <!-- Spring MVC不处理静态资源 -->
    <mvc:default-servlet-handler/>

    <!-- 支持mvc注解驱动 -->
    <mvc:annotation-driven/>
    <!-- 配置静态文件过滤器 -->
    <!--  location="/assets/easyui/css/" mapping="/assets/easyui/css/**" 必须成对出现，**表示子目录下的所有文件  -->
    <mvc:resources location="/assets/easyui/css/" mapping="/assets/easyui/css/**"/>
    <mvc:resources location="/assets/easyui/js/" mapping="/assets/easyui/js/**"/>
    <!-- <mvc:resources location="/assets/jquery-easyui-1.7.0/" mapping="/assets/jquery-easyui-1.7.0/**"/>-->

    <!-- 视图解析器 -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver"
            id="internalResourceViewResolver">
        <!-- 前缀 -->
        <property name="prefix" value="/WEB-INF/view/"/>
        <!-- 后缀 -->
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--一设置请求编码格式，必须与 JSP 中的 pageEncoding 属性一致，默认为 IS0-8859-1-->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!--设置允许上传文件的最大值 (10m) ，单位为字节-->
        <property name="maxUploadSize" value="10000000"/>
    </bean>

    <!--老师的配置-->
    <!--        &lt;!&ndash; 自动扫描包，实现支持注解的IOC &ndash;&gt;-->
    <!--    <context:component-scan base-package="qin.com" />-->
    <!--    &lt;!&ndash; 支持mvc注解驱动 &ndash;&gt;-->
    <!--    <mvc:annotation-driven />-->
    <!--    &lt;!&ndash;<mvc:interceptors>-->
    <!--        <mvc:interceptor>-->
    <!--            &lt;!&ndash;/**表示所有url包括子url路径都进行拦截&ndash;&gt;-->
    <!--            <mvc:mapping path="/**"/>-->
    <!--            <bean class="qin.com.inteceptor.LoginInteceptor"></bean>-->
    <!--        </mvc:interceptor>-->
    <!--    </mvc:interceptors>&ndash;&gt;-->
    <!--    &lt;!&ndash; 配置静态文件过滤器 &ndash;&gt;-->
    <!--    <mvc:resources location="/css/" mapping="/css/**"/>-->
    <!--    <mvc:resources location="/js/" mapping="/js/**"/>-->
    <!--    &lt;!&ndash; 视图解析器 &ndash;&gt;-->
    <!--    <bean-->
    <!--            class="org.springframework.web.servlet.view.InternalResourceViewResolver"-->
    <!--            id="internalResourceViewResolver">-->
    <!--        &lt;!&ndash; 前缀 &ndash;&gt;-->
    <!--        <property name="prefix" value="/WEB-INF/view/" />-->
    <!--        &lt;!&ndash; 后缀 &ndash;&gt;-->
    <!--        <property name="suffix" value=".jsp" />-->
    <!--    </bean>-->
    <!--    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
    <!--        &lt;!&ndash;一设置请求编码格式，必须与 JSP 中的 pageEncoding 属性一致，默认为 IS0-8859-1&ndash;&gt;-->
    <!--        <property name="defaultEncoding" value="UTF-8" ></property>-->
    <!--        &lt;!&ndash;设置允许上传文件的最大值 (10m) ，单位为字节&ndash;&gt;-->
    <!--        <property name="maxUploadSize" value="10000000" />-->
    <!--    </bean>  -->

</beans>